<head>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="http://unpkg.com/@progress/kendo-theme-bootstrap/dist/all.css" />
</head>
<div class="centerImage">
  <img src="assets\AllAireTRANSPARENTLOGO.png" alt="All Aire">
</div>
<h2 class="title">Welcome to your personal All Aire portal. Here you can take control of your home's health and learn about new trends in your data!</h2>
<h3 class="center"><span> Your DP Switch is currently {{ dpSwitchStatus }} </span></h3>
<h4 class="data">The current data was pulled on {{ newDate }} </h4>

<div>
      <!-- CO2 chart -->
  <kendo-chart>
    <kendo-chart-title text="CO2 level in household in PPM" color = "#FFFFFF" background="#85A958"> </kendo-chart-title>
    <kendo-chart-subtitle text="Blue-Actual level        Purple-Normal level"> </kendo-chart-subtitle>
    <!-- <kendo-chart-title text="CO2 level in household in PPM        Red-Actual level        Yellow-Normal level"></kendo-chart-title> -->
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item [categories]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']"
        [title]="{ text: 'Months' }">
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-series>
      <kendo-chart-series-item type="line" [data]="[400, 555, 460, 800, 760, 420, 900]">
      </kendo-chart-series-item>
      <kendo-chart-series-item type="line" [data]="[700, 720, 705, 750, 710, 700, 750]">
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>
</div>
<div>
      <!-- Temperature chart Monthly-->
  <kendo-chart>
    <kendo-chart-title text="Temperature level in Fahrenheit" color = "#FFFFFF" background="#85A958"></kendo-chart-title>
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item
        [categories]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']"
        [title]="{ text: 'Months' }"
      >
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>

    <kendo-chart-series-defaults [highlight]="{ inactiveOpacity: 0.3 }">
    </kendo-chart-series-defaults>

    <kendo-chart-series>
      <kendo-chart-series-item
        type="area"
        [data]="[60, 65, 70, 62, 80, 78, 83]"
      >
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>
  <div>
    <!-- Temperature Daily chart -->
    <kendo-chart>
      <kendo-chart-category-axis>
        <kendo-chart-category-axis-item
          [categories]="['1pm', '2pm', '3pm', '4pm', '5pm', '6pm', '7pm']"
          [title]="{ text: 'Hourly' }"
        >
        </kendo-chart-category-axis-item>
      </kendo-chart-category-axis>
  
      <kendo-chart-series-defaults [highlight]="{ inactiveOpacity: 0.3 }">
      </kendo-chart-series-defaults>
  
      <kendo-chart-series>
        <kendo-chart-series-item
          type="area"
          [data]="[72, 73, 70, 72, 74, 73, 72]"
        >
        </kendo-chart-series-item>
      </kendo-chart-series>
    </kendo-chart>
  </div>
</div>
<div>
  <kendo-chart>
    <kendo-chart-title text="IAQ level" color = "#FFFFFF" background="#85A958"></kendo-chart-title>

    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item
        [categories]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']"
        [title]="{ text: 'Months' }"
      >
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>

    <kendo-chart-series-defaults [highlight]="{ inactiveOpacity: 0.3 }">
    </kendo-chart-series-defaults>

    <kendo-chart-series>
      <kendo-chart-series-item
        type="area"
        [data]="[80, 86, 72, 74, 62, 81, 74]"
      >
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>
</div>

<div>
  <kendo-chart>
    <kendo-chart-title text="Humidity Percentage" color = "#FFFFFF" background="#85A958"></kendo-chart-title>
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item
        [categories]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']"
        [title]="{ text: 'Months' }"
      >
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>

    <kendo-chart-series-defaults [highlight]="{ inactiveOpacity: 0.3 }">
    </kendo-chart-series-defaults>

    <kendo-chart-series>
      <kendo-chart-series-item
        type="area"
        [data]="[20, 25, 30, 27, 37, 22, 40]"
      >
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>
</div>